node_modules
TODO/todo_backend/node_modules
TODO/todo_frontend/node_modules
TODO/todo_frontend

.env
*.env
TODO/todo_backend/.env
TODO/todo_frontend/.env

Dockerfile
.dockerignore
Jenkinsfile
README.md
LICENSE
.git
.gitignore
